<header>
    <div class="container">
        <a routerLink="/" class="logo-container">
            <img src="assets/inventory.png" alt="Logo" class="logo-image">
            <span class="logo-text">BPI</span>
        </a>
        <nav class="left-nav">
            <ul *ngIf="isAuth">
                <li>
                    <a routerLink="/inventory">Inventory</a>
                </li>
                <li>
                    <a routerLink="/requests">Requests</a>
                </li>
            </ul>
        </nav>
        <nav class="right-nav">
            <ul>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="username">
                    {{ user.username }}
                </li>
                <li *ngIf="isAuth">
                    <a (click)="logout()" routerLink="/">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
