<div class="container mt-3">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <h2>
            {{ isForCreate ? 'Create' : 'Update' }} User
        </h2>

        <input-container label="Role" *ngIf="isForCreate">
            <select [formControl]="$any(fc['roleScope'])" class="role-select form-control" name="role-select" [(ngModel)]="nrSelect">
                <option value="" disabled>Select Role</option>
                <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
            </select>
            <input-validation [control]="fc['roleScope']" [showErrorsWhen]="isSubmitted"></input-validation>
        </input-container>

        <text-input
        [control]="fc['firstName']"
        [showErrorsWhen]="isSubmitted"
        label="First Name">
        </text-input>

        <text-input
        [control]="fc['lastName']"
        [showErrorsWhen]="isSubmitted"
        label="Last Name">
        </text-input>

        <text-input
        [control]="fc['email']"
        [showErrorsWhen]="isSubmitted"
        label="Email"
        type="email">
        </text-input>
      
        <select-input *ngIf="isForCreate"
        [control]="fc['assignedTo']"
        [showErrorsWhen]="isSubmitted"
        label="Organization"
        typeObj="organization"
        viewValue="name">
        </select-input>

        <text-input *ngIf="!isForCreate"
        [control]="fc['password']"
        [showErrorsWhen]="isSubmitted"
        label="Password"
        type="password">
        </text-input>

        <text-input *ngIf="!isForCreate"
        [control]="fc['confirmedPassword']"
        [showErrorsWhen]="isSubmitted"
        label="Confirm Password"
        type="password">
        </text-input>
  
      <default-button [text]="(isForCreate) ? 'Create' : 'Apply'"></default-button>
    </form>
  </div>
  