<div class="container">
    <div class="details">
        <!-- Barre des fonctionnalités -->
        <div class="toolbar">
            <!-- Tous les utilisateurs -->
            <input type="text" placeholder="Search...">
            <button (click)="askFor()">Ask for</button>
            <button (click)="refund()">Refund</button>
            
            <!-- Administrateurs -->
            <button *ngIf="isAdmin" (click)="addMaterial()">Add</button>
            <button *ngIf="isAdmin" (click)="editMaterial()">Edit</button>
            <button *ngIf="isAdmin" (click)="deleteMaterial()">Delete</button>
        </div>
        
        <!-- Table des matériels -->
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <!-- Tous les utilisateurs -->
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Tag</th>
                        
                        <!-- Administrateurs -->
                        <th *ngIf="isAdmin">Status</th>
                        <th *ngIf="isAdmin">For organization</th>
                        <th *ngIf="isAdmin">Assigned to</th>
                        
                        <!-- Tous les utilisateurs -->
                        <th>Renewal</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of materials" (click)="onMaterialSelect(material)">
                        <td>{{ material.name }}</td>
                        <td>{{ material.taggedAs.name }}</td>
                        
                        <!-- Affichage pour les administrateurs -->
                        <td *ngIf="isAdmin">{{ material.status }}</td>
                        <td *ngIf="isAdmin">{{ material.forOrganization }}</td>
                        <td *ngIf="isAdmin">{{ material.assignedTo.firstName }} {{ material.assignedTo.lastName }}</td>
                        
                        <!-- Affichage pour tous les utilisateurs -->
                        <td>{{ material.renewalDate }}</td>
                        <td>{{ material.returnDeadline }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
